@import '/src/theme/variables.scss';
@import '/src/theme/utils.scss';

.radioBox {
  margin-block: px(24);
  @include flexLayout(row, space-around, center, 8);
}

.title {
  @include flexLayout(column, center, center, 4);
  font-size: px(24);
  font-weight: 600;
  & > span {
    font-size: px(13);
    font-weight: 600;
    color: $gray-200;
  }
}

.modalActionBox {
  @include flexLayout(column, center, center, 8);

  .modalButton {
    position: relative;
    input {
      position: absolute;
      opacity: 0;
    }
  }
}
