@import '/src/theme/utils.scss';
@import '/src/theme/variables.scss';

.button {
  all: initial;
  width: 100%;
  padding: px(8);
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
  color: $gray-200;
  font-size: px(13);
  min-height: px(32);
  text-align: center;
  border-radius: px(8);
  box-shadow: $boxShadow;
  box-sizing: border-box;
  background-color: $white;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // size
  &.small {
    width: px(80);
    height: px(40);
    font-size: px(13);
  }

  &.medium {
    width: px(232);
    height: px(36);
  }

  &.large {
    width: px(330);
    height: px(48);
    font-size: px(16);

    &:disabled {
      opacity: 1;
      background-color: $gray-100;
    }
  }

  &.full {
    width: 100%;
  }

  // theme
  &[data-loading='true'] {
    pointer-events: none;
  }

  &[data-theme='AQUA'] {
    background-color: $aqua;
    color: $white;
  }
  &[data-theme='AQUA-gray'] {
    background-color: $aqua;
    color: $gray-200;
  }
  &[data-theme='MAGENTA'] {
    background-color: $magenta;
    color: $white;
  }
  &[data-theme='PURPLE'] {
    background-color: $purple;
    color: $white;
  }
  &[data-theme='BROWN'] {
    background-color: $brown;
    color: $white;
  }
  &[data-theme='GREIGE'] {
    background-color: $greige;
    color: $white;
  }

  // iconbutton
  &.image{
    @include flexLayout(row, center, center, 5);
    padding: 0;
    padding: 0 px(10);
    width: fit-content;
    height: 27px;
    border-radius: px(30);
  }



}


