@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';


.audio{
  margin-bottom: px(10);
  display: flex;
  gap: 5px;
  & > button {
    padding: 0 px(15);
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}