@import '/src/theme/variables.scss';
@import '/src/theme/utils.scss';

.inquiryModal {
  background-color: $background !important;
  width: px(300);
  .inquiryContent{
    padding: px(10) px(16);
  }
}

.inputBox{
  textarea{
    border:none;
    border-radius: px(8);
    padding: px(15);
    height: px(140);
    width: 100%;
  }
}

.actionsBox {
  @include flexLayout(column, center, center, 16);
  padding: px(16);

  .verifyButton {
    width: 100%;
    background-color: $white !important;
  }

  .resendButton {
    all: initial;
    cursor: pointer;
    color: $gray-200;
    font-size: px(13);
    text-decoration: underline;
  }
}
