@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.container {
  padding: px(20) px(22);
  width: 356px;
  height: 569px;
  border-radius: px(15);
  box-shadow: $boxShadow;
  box-sizing: border-box;




  .toFrom {
    @include fontStyle(20, 700, $aqua);
    color: $aqua;
    @include flexLayout(row, flex-start, baseline, 5);

    & > div > input {
      background-color: unset;
      box-shadow: unset;
      @include fontStyle(18, 500, $white);

    }
    & > div > input::placeholder {
      color: $gray-200;
      @include fontStyle(18, 500, $white);
    }

  }

  .contents{
    margin: px(15) 0;
    & > div {
      & > textarea {
        display: block;
        max-height: px(420);
        height: fit-content;
        box-shadow: unset;
      }
    }
  }

  .image{
    padding-left: px(15);
    width:100%;
    text-align: center;
    @include flexLayout(row, center, flex-start, 6);
  }

  .removeImage{
    margin-top: px(15);
  }

  .uploadedImage{
    width: auto;
    margin-top: px(15);
    max-height: px(160);
  }
  .disable {
    display: none;
  }


  // type == PRIMARY
  &.PRIMARY {
    background-color: $white;
    padding: 0;
    border-radius: px(15);
    position: relative;

    .top {
      border-radius: px(15) px(15) 0 0;
      padding: px(10) px(17);
      background-color: $aqua;
      color: $white;
    }
    .right {
      width: 100%;
      max-width: px(150);
      color: $white;
      margin-left: px(8);
    }
    .bottom {
      position: absolute;
      bottom:0;
      width:100%;
      padding: px(14) px(18);
      background-color: $aqua;
      border-radius: 0 0 px(15) px(15);
      @include flexLayout(row, flex-start, center, 6);
    }
    .contents{
      margin: px(15);
    }
  }

  // type == BORDER
  &.BORDER {
    background-color: $white;
    border: px(4) solid $aqua;
    position: relative;

    .top, .toFrom{
      border-bottom: px(2) solid $aqua;
      width: px(180);
    }
    .right{
      width: 100%;
      max-width: px(150);
      margin-left: px(8);

    }
    .bottom {
      position: absolute;
      bottom:0;
      padding: px(18) 0;

      @include flexLayout(row, flex-start, center, 6);
    }
  }

  // type == LETTER
  &.LETTER {
    background-color: $white;
    position: relative;
    //padding: 0;

    .top {
      //padding: px(10) 0;

    }
    .right {
      width: 100%;
      max-width: px(150);
      margin-left: px(5);
      @include flexLayout(row, flex-end, center, 0);
    }
    .bottom {
      width:100%;
      position: absolute;
      bottom:0;
      padding: px(18) 0;
      @include flexLayout(row, flex-start, center, 6);
    }
  }

}
