@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.container {
  padding: px(20) px(22);
  width:100%;
  max-height: 569px;
  //height: 90vh;


  border-radius: px(15);
  box-shadow: $boxShadow;
  box-sizing: border-box;

  .toFrom {
    @include fontStyle(20, 700, $aqua);
    color: $aqua;
    @include flexLayout(row, flex-start, baseline, 5);


    & > div > input {
      background-color: unset;
      box-shadow: unset;
      @include fontStyle(18, 500, $white);

    }

    & > div > input::placeholder {
      color: $gray-200;
      @include fontStyle(18, 500, $white);
    }

  }

  .audio{
    margin-bottom: px(10);
    display: flex;
    gap: 5px;
    & > button {
      padding: 0 px(15);
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
  }



  // type == PRIMARY
  &.PRIMARY {
    background-color: $white;
    padding: 0;
    border-radius: px(15);
    position: relative;
    min-height: px(440);
    .contents{
      .audio{
        margin: 0 15px;
      }
    }

    .top {
      border-radius: px(15) px(15) 0 0;
      padding: px(10) px(17);
      background-color: $aqua;
      color: $white;
    }
    .right {
      width: 100%;
      max-width: px(210);
      color: $white;
      margin-left: px(8);
    }
    .bottom {
      position: absolute;
      bottom:0;
      width:100%;
      padding: px(14) px(18);
      background-color: $aqua;
      border-radius: 0 0 px(15) px(15);
      @include flexLayout(row, flex-start, center, 6);
    }

  }

  // type == BORDER
  &.BORDER {
    background-color: $white;
    border: px(4) solid $aqua;
    position: relative;
    min-height: px(440);


    .top, .toFrom{
      border-bottom: px(2) solid $aqua;
      width: px(180);
    }
    .right{
      width: 100%;
      max-width: px(210);
      margin-left: px(8);

    }
    .bottom {
      position: absolute;
      bottom:0;
      padding: px(18) 0;

      @include flexLayout(row, flex-start, center, 6);
    }
  }

  // type == LETTER
  &.LETTER {
    background-color: $white;
    position: relative;
    min-height: px(440);


    .top {
      //padding: px(10) 0;

    }
    .right {
      width: 100%;
      max-width: px(210);
      margin-left: px(5);
      @include flexLayout(row, flex-end, center, 0);
    }
    .bottom {
      width:100%;
      position: absolute;
      bottom:0;
      padding: px(18) 0;
      @include flexLayout(row, flex-start, center, 6);
    }
  }

}

.textarea {
  padding-bottom: px(95);
  & > div {
    //height: inherit;
    & > textarea {
      display: block;
      max-height: px(330);
      //height: fit-content;
      box-shadow: unset;
    }
  }
}

.contents{
  margin: px(15) 0;
  //height: 400px;
  //min-height: 200px;

}