@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.capsuleBox {
  position: relative;
  @include flexLayout(column, center, center, 8);
  & > svg {
    filter: drop-shadow(px(8) px(8) px(8) rgba(0, 0, 0, 50%));
    z-index: 1;
  }

  .textBox {
    position: absolute;
    font-size: px(16);
    font-weight: 600;
    color: $gray-200;
    margin-top: px(16);
    text-align: center;
    z-index: 2;
  }

  .capsules {
    position: absolute;
    z-index: 0;

    .capsule {
      // rotate 랜덤으로
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          transform: rotate(random(360) * 1deg);
        }
      }
    }
  }
}
