@import '/src/theme//utils.scss';

// basic colors
$white: #f9f9f9;
$black: #000;
$error: #ff5456;

// gray
$gray-100: #bbb;
$gray-200: #757575;

// main colors
$aqua: #8db6cc;
$magenta: #bd284a;
$purple: #ac96d6;
$brown: #d6b89c;
$greige: #ccc89b;

// font colors
$fontGray: #494a51;
$placeholder: #bbb;
$spacingDefalt: -0.031rem;

// styles
$borderColor: #e4e4e4;
$boxShadow: 0 px(4) px(8) 0 rgba(0, 0, 0, 8%);
