@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.section {
  width: 100%;
  flex: 1;
  padding: px(32);
  padding-top: px(64);
  @include flexLayout(column, space-between, center, 0);

  .div:first-child {
    max-height: px(569);
  }

  form {
    width: 100%;
    flex: 1;
    min-height: px(450);
    @include flexLayout(column, center, center, 0);
  }

  &.bottom {
    margin-top: px(16);
    @include flexLayout(column, center, center, 8);

    a {
      width: 100%;
      text-decoration: none;
    }
  }
}

.body {
  margin-top: px(16);

  & > div > div {
    display: flex;
    margin: px(15) 0;

    width: px(60);
    & > div {
      & > div {
        width: px(60);
        max-width: px(60);
        height: px(60);
        max-height: px(60);
        border-radius: 5px;
      }
    }
    // PRIMARY
    & > div:nth-child(1) > div {
      background-color: $white;
      border-top: $aqua px(10) solid;
      border-bottom: $aqua px(10) solid;
    }
    // LETTER
    & > div:nth-child(2) > div {
      background-color: $white;
    }
    // BORDER
    & > div:nth-child(3) > div {
      border: $aqua 3px solid;
      background-color: $white;
    }
  }

  .swiperLetter {
    width: px(calc(60 * 2 + 60 * 1.2 + 16 * 3));
    margin-inline: auto;

    .swiperSlide {
      margin-inline: px(8);
      transition: 0.2s;
      .active {
        transform: scale(1.2);
      }
    }
  }
}
