@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.section {
  width: 100%;
  padding: px(32);

  .div:first-child{
    max-height: 569px;
  }

  form{
    min-height:px(450)
  }

  &.bottom {
    margin-top: px(16);
    @include flexLayout(column, center, center, 8);

    a {
      width: 100%;
      text-decoration: none;
    }
  }
}
.body{
  & > div> div{
    display: flex;
    margin: 15px 0;

    width: px(80);
    & > div{
      & > div{
        width: px(80);
        max-width: px(80);
        height: px(80);
        max-height: px(80);
        border-radius: 5px;
      }
    }
    // PRIMARY
    & > div:nth-child(1) > div{
        background-color: $white;
        border-top: $aqua 10px solid;
        border-bottom: $aqua 10px solid;
    }
    // LETTER
    & > div:nth-child(2) > div{
        background-color: $white;
    }
    // BORDER
    & > div:nth-child(3) > div{
        border: $aqua 3px solid;
        background-color: $white;
    }
  }
}
