@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.drawerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: #000000cc;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  color: #000;

  .drawerBox {
    min-width: px(220);
    max-width: px(500);
    min-height: 100vh;
    animation: 0.2s rightIn ease forwards;
    background-color: $white;
  }

  @keyframes rightIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes rightOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}
