@import 'src/theme/variables.scss';
@import 'src/theme/utils.scss';

.header {
  width: 100%;
  max-width: px(500);
  position: fixed;
  padding: px(16);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @include flexLayout(row, flex-end, center, 16);

  & > svg {
    cursor: pointer;
  }
}
